@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans&display=swap');




#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}


#background {
    height: 725px;
}

header {
    background-color: #1a759F;
}

body {
    background-color: white;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

nav a:hover {
    background-color: #1a759F;
}
#background {
    background-color: white;
}
.msg {
    background-color: black;
    line-height: 1.5em;
    padding: 35px;
    
}
footer {
    background-color: #1a759F;
    padding: 25px 50px;
    margin-top: 200px;
}
.book, .join {
    background-color: #2F8C07;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    color: white;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #1a759F;
}
.home-title {
    color: black;
    font-family: "Grape Nuts";
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: black;
}
.msg h2 {
    color: white;
    font-family: "Grape Nuts";
    background-color: black;
}
.msg p {
    color: white;
    background-color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #d9ed92;
    text-decoration: none;
}
footer a:hover {
    color: white; 
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
 
footer p {
    font-size: 1.2em;
}    

 
footer p a:hover {
    text-decoration: underline;
}    

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9ed92;
}

main section img {
    box-sizing: border-box;
}