main {
    background-color: grey;
    
}

.round {
   
    border-radius: 50%;
    width: 300px;
    border: 10px solid rgb(54, 56, 53);
    margin: 30px 90px;


}

#top-img {
    width: 100%;
    height:fit-content;
}

#all-content {
    max-width: fit-content;
}