main {
    background-color: grey;
    
}

.round {
   
    border-radius: 50%;
    width: 300px;
    padding: 20px 20px;
    padding-inline: 100px;

}

#top-img {
    width: 100%;
    
}
body {
    background-color: grey;
}
